.palette-container {
  border-radius: 8px;
  background-color: #ccc;
  display: inline-block;
}

.palette-container-grid {
  display: grid;
  grid-gap: 4px;
  padding: 4px;
}

.palette-color {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;

  height: 24px;
  width: 24px;
}

.palette-options {
  max-height: 128px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4px;
  padding: 4px;
}

.palette-option-color {
  width: 100%;
}
